.modal-header{
    background-color: #99c157;
    color: #fff;
}
.primary-color {
    color: #99c157;
}
.sec-color{
    color: #386641;
}
.checkout-info-box{
    background-color: #f8ffec;
}
.bg-sucesss{
    background-color: #c3fabe;
    color: #2a6817;
    border: 1px solid transparent;
    /* border-radius: 5px; */
}